{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}

{% block page_product_detail_buy_quantity_container %}
    <div class="col-12 col-sm-6 col-md-4">
    {% block page_product_detail_buy_quantity %}

        {% if page.product.maxPurchase %}
            {% if page.product.availableStock < page.product.maxPurchase %}
                {% set maxQuantity = page.product.availableStock %}
            {% else %}
                {% set maxQuantity = page.product.maxPurchase %}
            {% endif %}
        {% else %}
            {% set maxQuantity = shopware.config.core.cart.maxQuantity %}
        {% endif %}


        <div class="product-detail-quantity-input input-group input-group-lg"
             data-quantity-field="true"
             data-quantity-field-options='{
           "purchaseSteps": "{{ page.product.purchaseSteps }}",
           "maxQuantity": "{{ maxQuantity }}"
         }'>
            <div class="input-group-prepend">
                <button class="btn btn-secondary decrease" type="button">-</button>
            </div>

            <input type="number" class="form-control form-control-lg"
                   name="lineItems[{{ product.id }}][quantity]"
                   title="Quantity"
                   value="{{ page.product.minPurchase }}"
                   max="{{ maxQuantity }}"
                   min="{{ page.product.minPurchase }}">

            <div class="input-group-append">
                <button class="btn btn-secondary increase" type="button">+</button>
            </div>
        </div>

    {% endblock %}
    </div>
{% endblock %}
{% block page_product_detail_buy_button_container %}
    <div class="col-12 col-md-8">
        {% block page_product_detail_buy_button %}
            <button class="btn btn-primary btn-block btn-buy"
                    title="{{ "detail.addProduct"|trans|striptags }}"
                    aria-label="{{ "detail.addProduct"|trans|striptags }}">
                {{ "detail.addProduct"|trans|sw_sanitize }}
            </button>
        {% endblock %}
    </div>
{% endblock %}